.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login .logo{
    height: 150px;
    width:150px;
}

.login-box{
    width: 400px;
    border: 1px solid gray;
    padding:  50px 20px;
}

.login-box button{
    width: 80%;
    border: none;
    padding: 5px 20px;
    border-radius: 20px;
    margin: 20px;
}