
.add-event{
    display: flex;
    align-items: baseline;
   
}
.add-event-form{
    background-color: rgba(128, 128, 128, 0.089);
    height: 100vh;
}

.main-form{
   background-color: white;
   margin: 20px 30px ;
   border-radius: 10px;
}
form .inputs{
    margin: 20px 50px;
    padding: 5px;
}


.inputs .input-field{
    width: 300px;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
}

.inputs .text-area{
    width: 300px;
    margin: 10px;
    height: 80px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
}

.btn-submit{
    background-color: #3F90FC;
    padding: 5px 15px;
    color: white;
    border: none;
    text-align: center;
    border-radius: 8px;
    margin-bottom: 10px;
}