
form{  
    background-color: rgba(128, 128, 128, 0.089);
}


.add-event{
    display: grid;
   grid-template-columns: 1fr 3fr;
}


form .inputs{
    margin: 20px 50px;
    padding: 20px 40px;
    background-color: white;
}


.inputs .input-field{
    width: 350px;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
}

.inputs .text-area{
    width: 350px;
    margin: 10px;
    height: 80px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
}

.btn-submit{
    background-color: #3F90FC;
    padding: 5px 15px;
    color: white;
    border: none;
    text-align: center;
    border-radius: 8px;
}