.search input {
    height: 30px;
}
.search span{
    height: 30px;
    background-color: #3F90FC;
    color: white;
    font-size: 14px;
    padding: 5px 20px;
}

.events{
    margin-top: 80px;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(4,1fr);
}